In [1]:
from prep import PremierTour

In [6]:
circo = PremierTour(dept="01", circ=3)
circo.issue()
circo.resultat

,Liste des candidats,Nuance,Voix,Tot. Exprimés,Tot. Inscrits,Pct. Exprimés,Pct. Inscrits,Eliminé,Elu,Qualifié
0,Mme Olga GIVERNET,ENS,17420,53720,84130,0.324274,0.207061,False,False,True
1,Mme Karine DUBARRY,RN,17252,53720,84130,0.321147,0.205064,False,False,True
2,M. Christian JOLIE,UG,13497,53720,84130,0.251247,0.16043,False,False,True
3,Mme Khadija UNAL,LR,3663,53720,84130,0.068187,0.04354,True,False,False
4,Mme Annick VEILLEROT,DSV,769,53720,84130,0.014315,0.009141,True,False,False
5,M. Fulgence KOUASSI,DIV,630,53720,84130,0.011727,0.007488,True,False,False
6,Mme Cécile MAISONNETTE,EXG,455,53720,84130,0.00847,0.005408,True,False,False
7,Mme Sofia TONIZZO,DIV,34,53720,84130,0.000633,0.000404,True,False,False

,Liste des candidats,Nuance,Voix,Tot. Exprimés,Tot. Inscrits,Pct. Exprimés,Pct. Inscrits,Eliminé,Elu,Qualifié
0,M. Pierre CAZENEUVE,ENS,34053,64006,88339,0.532028,0.385481,False,True,False
1,M. Lucas PEYRET,UG,14749,64006,88339,0.230432,0.166959,True,False,False
2,Mme Christine PASTOR,RN,12057,64006,88339,0.188373,0.136486,True,False,False
3,Mme Charlotte RICHARD,ECO,1633,64006,88339,0.025513,0.018486,True,False,False
4,M. Rémi CARILLON,REC,1083,64006,88339,0.01692,0.01226,True,False,False
5,Mme Cécile ABAD,EXG,431,64006,88339,0.006734,0.004879,True,False,False

In [4]:
df = circo9207.resultat.copy()

In [6]:
df["Rang"] = df["Voix"].rank(ascending=False)
df

,Liste des candidats,Nuance,Voix,Tot. Exprimés,Tot. Inscrits,Pct. Exprimés,Pct. Inscrits,Eliminé,Elu,Qualifié,Rang
0,M. Pierre CAZENEUVE,ENS,34053,64006,88339,0.532028,0.385481,False,True,False,1.0
1,M. Lucas PEYRET,UG,14749,64006,88339,0.230432,0.166959,True,False,False,2.0
2,Mme Christine PASTOR,RN,12057,64006,88339,0.188373,0.136486,True,False,False,3.0
3,Mme Charlotte RICHARD,ECO,1633,64006,88339,0.025513,0.018486,True,False,False,4.0
4,M. Rémi CARILLON,REC,1083,64006,88339,0.01692,0.01226,True,False,False,5.0
5,Mme Cécile ABAD,EXG,431,64006,88339,0.006734,0.004879,True,False,False,6.0

In [10]:
deux_premiers = df.sort_values(by="Voix", ascending=False)[:2].index
df.loc[deux_premiers]

,Liste des candidats,Nuance,Voix,Tot. Exprimés,Tot. Inscrits,Pct. Exprimés,Pct. Inscrits,Eliminé,Elu,Qualifié,Rang
0,M. Pierre CAZENEUVE,ENS,34053,64006,88339,0.532028,0.385481,False,True,False,1.0
1,M. Lucas PEYRET,UG,14749,64006,88339,0.230432,0.166959,True,False,False,2.0